extends layout

block content
  div(style="text-align: center;")
    a(href="https://solc-docs.smartcontract.com" target="_blank")
      img(src="https://chriseth.github.io/browser-solidity/assets/img/sol.svg" style="width: 50%")
